---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/img/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
		<div class="container">
				<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
								<div class="site-heading">
										<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
										<hr class="small">
										<span class="subheading">{{ page.description }}</span>
								</div>
						</div>
				</div>
		</div>
</header>


<div class="container">
	<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
		{% for paintingMeta in site.pages %}
			{% if paintingMeta.url contains '/paintings' %}
				<!-- <h2>{{paintingMeta.title}}</h2>
				<hr> -->
		        <figure temprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
				  <a href="{{ site.baseurl }}/img/{{paintingMeta.filename}}" itemprop="contentUrl" data-size="1024x1024">
				      <img src="{{ site.baseurl }}/img/{{paintingMeta.filename}}" itemprop="thumbnail" alt="{{paintingMeta.caption}}" />
				  </a>
				  <figcaption itemprop="caption description">{{paintingMeta.caption}}</figcaption>
				</figure>
				<!-- <br> -->
		    {% endif %}
		{% endfor %}
	</div>
</div>

{{ content }}

